body{
 font-family: Helvetica;
 margin: 0;
 padding: 0;

}
#map {
	position: relative;
	top: 5px;
}

#header {
	position: absolute;
	left: 70px;
	top: -5px;
	font-size: 80%;
}

#header h1 {
	padding-bottom: 0;
}

#header h3 {
	margin-top: 0;
}

#footer {
	padding-left: 70px;
}


path {
	fill: #d0d0d0;
	stroke: #aaa;
	stroke-width: 2px;
}

@keyframes wiggle {
  0% { transform: translateX(0) translateY(0);  }
  25% { transform: translateX(0.5px) translateY(0.5px); }
  50% { transform: translateX(1px) translateY(1px); }
  75% { transform: translateX(0.5px) translateY(0.5px); }
  100% { transform: translateX(0) translateY(0); }
}

.bpart {
	animation: wiggle 1s ease infinite;
}