<!DOCTYPE html>
<meta charset="utf-8">
<body>

<div id="header">
	<h1 id="main-title">Americans tweeting about <span id="bodyparts">...</span></h1>	
</div>


<div id="map"></div>


<div id="footer">
The most commonly tweeted body parts in all 50 states... on a map. Updated round the clock.  Because why not?<br/>
* disclaimer: I'm not showing all the 'ass' tweets.  If I did it'd just be a sea to shining sea of butts!
</div>

<link rel="stylesheet" type="text/css" href="/static/css/tipsy.css" />
<link rel="stylesheet" type="text/css" href="/static/css/style.css" />
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="http://d3js.org/topojson.v1.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.tipsy.js"></script>
<script>
var tipsys_open=new Array();
var have_mouseover = false;


(function() {

		var width = 1000,
	    height = 600,
	    projection;


		var svg = d3.select("#map").append("svg")
	    .attr("width", width)
	    .attr("height", height);

		d3.json("/static/data/us.json", function(error, us) {
		  if (error) return console.error(error);
		  console.log(us);

		  var land = topojson.feature(us, us.objects.land);
		  projection = d3.geo.albersUsa()
		  	.scale(1100)
		  	.translate([width/2, height/2]);

		  var path = d3.geo.path()
	    	.projection(projection);

		  svg.append("path")
	      	.datum(land)
	      	.attr("d", path);

	     get_plurals();

		});

		function key_on_lat_lng_w_variance(d){
			/* for now we aren't really doing this
			   but the idea is to try to return a range of
			   points for joining... not sure if that 
			   would work
			*/
			return d.pt;
		}

		function changed_subject_only(d, el) {			
			if (el.__old_data__ == undefined) return null; //new els won't have
			// debugger;
			return (d.subject != el.__old_data__.subject) ? el: null;
		}

		function add_points(points) {
			// add point if it doesn't already exist
			// key on lat/long only, not subject
			// key on lat/long within random variance of step
			var join = svg.selectAll('image.bpart')
				.property("__old_data__", function(d){ return d;})
				.data(points, key_on_lat_lng_w_variance)
			    ;	
			join.attr("part", function(d){return d.subject});			
			join.enter()				
			    .append("svg:image")
			    .attr("xlink:href", function(d) {
			    	return "/static/img/"+d.subject+".png";
			    })
			    .attr("x", function(d) {
			      return projection(d.pt)[0]-13;
			    })
			    .attr("y", function(d) {
			      return projection(d.pt)[1]-13;
			    })
			    .attr("width", 27)
			    .attr("height", 27)
			    .attr("class", "bpart")
			    .style("opacity", 0)
				.transition()
			    	.duration(function(d){return Math.random()*d.pt[1]*100})
			    	.style("opacity", 0.7)			    
			    ;
			join.exit()
				.transition()
					.duration(1000)
					.style("opacity", 0)
					.remove(); // fade out and delete if not present in data

			// in/out opacity transition on only those w/ chanaged subjects
			join.filter(function(d, i){return changed_subject_only(d, this)})
				.transition()					
					.duration(1000)
			    	.style("opacity", 0)
	    		.transition()
			    	.duration(1000)
			    	.style("opacity", 0.7)
			;    	
		}

		function update_points() {
		    $.ajax({
            type: "GET",
            contentType: "application/json; charset=utf-8",
            url: '/data',
            dataType: 'json',
            async: true,
            cache: false,
            success: function (data) {
            	// write new points to map				
            	if (data){
            		var points = new Array();
                    for (var loc in data) {
                    	if (data.hasOwnProperty(loc)) {
	                    	point = {'pt': loc.split(","), 'subject':data[loc].subj, "state": data[loc].state, "tweet": "<i>#"+data[loc].state+"_"+parts_plural[data[loc].subj] + ":</i> " + data[loc].tweet, 'subj_plural': parts_plural[data[loc].subj]};
	                    	points.push(point);
					   	}
				    }
				    if (points.length > 0) {
				    	add_points(points);
					    $('svg image').tipsy({ 
					        gravity: 'w',
					        // html: true,
					        title: function() {
					          var d = this.__data__;
					          return d.tweet; 
					        }
				        });
					}
			    }
			},
            error: function(xhr, textStatus, errorThrown){
               console.log(textStatus + ', ' + errorThrown);
          	}
	    	})
		}

		function new_tweet_bubble() {
			// if the user is not currently viewing a tweet bubble,
			// open one randomly from images
			if (have_mouseover) return false;
			all_images = $('svg image');
			if (all_images.length > 0) {
				$img = $(all_images[Math.ceil(Math.random()*all_images.length)]);
				tipsy = $img.tipsy(true);
				tipsy.show();
				setTimeout(function(){tipsy.hide()},7000);
				return tipsy;
			}
		}

		parts_plural = {}
		
		function get_plurals() {
			$.ajax({
			type: "GET",
            contentType: "application/json; charset=utf-8",
            url: '/static/data/bodypartsplural.json',
            dataType: 'json',
            async: true,
            cache: false,
            success: function (data) {
            	if (data){
            	parts_plural = data;
            	}
            	update_points();
            }
          });
		}

		var intv_id = setInterval(update_points, 5 * 1000);
		var intv_tipsy_id = setInterval(new_tweet_bubble, 7.25 * 1000);



	})(jQuery);


</script>
</body>
</html>